header > .menu {
    position: fixed;
    background-color: #505456;
    width: 100vw;
    filter: opacity(0.8);
}

header > .background {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    background-image: url("../../images/headerbackground.jpg");
    height: 30rem;
    width: 100vw;
    background-size: cover;
    filter: brightness(0.3);
    z-index: -1;
}

header > .menu > .line-menu {
    font-size: 1.5rem;
    list-style-type: none;
    margin-block: 0;
    margin-inline: 0;
    padding: 0.625rem 2rem;

    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 1.375rem;
}

header > .menu > .line-menu > .item > .link {
    color: inherit;
    text-decoration: none;
}

header > .menu > .line-menu > .item > .main-menu {
    font-size: 3rem;
    text-decoration: none;
    color: inherit;
}

header > .menu > .line-menu > .item > .link:hover {
    text-decoration: underline;
    color: red;
}

header > .nameform {
    display: flex;
    justify-content: center;
    width: 100vw;
    height: 30rem;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

header > .nameform > .name {
    font-size: 4rem;
}

header > .nameform > .hello {
    font-size: 1.5rem;
}